:root {
    font-size: 10px;
}

body {
    background-color: var(--c-bg);
    padding:
        env(safe-area-inset-top, $unit_l)
        env(safe-area-inset-right, $unit_l)
        env(safe-area-inset-bottom, $unit_l)
        env(safe-area-inset-left, $unit_l);

    text-rendering: geometricprecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.page {
    overflow-x: hidden;
    max-width: 100%;
}

@mixin wrap {  
    padding: 0 $unit_s;
    max-width: $media_xl;
    margin: 0 auto;
    width: 100%;

    &--padded {
        max-width: calc(#{$media_xl} + (#{$unit_l} * 2));
    }

    @include breakpoint_m {
        padding: 0 $unit_l;
    }

    &--slim {
        max-width: $media_l;

        &--padded {
        max-width: calc(#{$media_l} + (#{$unit_l} * 2));
        }
    }
}
  
.wrap {
    @include wrap;
}
  
section {
    position: relative;
    z-index: 1;
}

img {
    max-width: 100%;
    height: auto;
}


.youtube-embed {
    position: relative;
    overflow: hidden;
    width: 100%;
    
    &::after {
        display: block;
        content: "";
        padding-top: 56.25%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}