$navy:          #191b2b;
$royal:         #141122;
$crest:         #fffdf7;
$chalk:         #d1f0ff;
$sunrise:       #e6c73e;
$coral:         #D23265;
$tangent:       #07b69f;
$cogent:        #14345f;
$skyline:       rgb(116, 133, 170);
$skyline2:      #7a7c8d;
$navy-shade:    rgba($navy, 0.7);
$crest-shade:   rgba($crest, 0.7);

@mixin dark {
    --mode:dark;
    --c-bg:              #{$navy};
    --c-shade-bg:        #{$navy-shade};
    --c-bg2:             #{$royal};
    --c-accent-1:        #{$tangent};
    --c-accent-2:        #{$sunrise};
    --c-accent-3:        #{$coral};
    --c-accent-4:        #{$royal};
    --c-main:            #{$chalk};
    --c-main-alt:        #{$skyline};
    --c-sl-bg:           #{$coral};
    --c-sl-on:           #{$sunrise};
    --c-sl-a:            #{$crest};
    --c-heading:         #{$crest};
}

@mixin light {
    --mode:light;
    --c-bg:              #{$crest};
    --c-shade-bg:        #{$crest-shade};
    --c-bg2:             #{$coral};
    --c-accent-1:        #{$tangent};
    --c-accent-2:        #{$coral};
    --c-accent-3:        #{$royal};
    --c-accent-4:        #{$sunrise};
    --c-main:            #{$navy};
    --c-main-alt:        #{$skyline2};
    --c-sl-bg:           #{$tangent};
    --c-sl-on:           #{$royal};
    --c-sl-a:            #{$navy};
    --c-heading:         #{$royal};
}