$carbon:          #15111d;
$slate_1:         #3e3e5a;
$slate_2:         #8b84a7;
$midrange:        #a5a1a8;
$coral:           #d33366;
$horizon:         #458eb8;
$sunrise:         #daa84b;
$crest:           #fffefd;