$unit_xxxs:       0.4rem;
$unit_xxs:        0.8rem;
$unit_xs:        1.2rem;
$unit_s:         1.6rem;
$unit_m:         2.4rem;
$unit_l:         3.6rem;
$unit_xl:        4.8rem;
$unit_xxl:       7.2rem;
$unit_xxxl:      9.6rem;
// "His power level... It's over 9000!"
$unit_9001:      28.2rem;

// Breakpoints
$media_m:       480px;
$media_l:       960px;
$media_xl:      1280px;
