$display-font:      'Playfair Display', serif;
$heading-font:      'PT Sans', sans-serif;
$body-font:         'Palanquin', sans-serif;

$txt_xxs:       1.6rem;
$txt_xs:        2.1rem;
$txt_s:         2.4rem;
$txt_m:         3rem;
$txt_l:         4.2rem;
$txt_xl:        6.4rem;
$txt_xxl:       9.6rem;
$txt_xxxl:      19.2rem;
// "His power level... It's over 9000!"
$txt_9001:      28rem;