$heading-font:      'Playfair Display', sans-serif;
$subheading-font:   'Poly', sans-serif;
$body-font:         'Martel', sans-serif;

$txt_xs:        16px;
$txt_s:         21px;
$txt_m:         28px;
$txt_l:         36px;
$txt_xl:        56px;
$txt_xxl:       72px;