// e = extend this class; don't use in templates

.e-grid-3-1 {
    display: grid;
    grid-gap: $unit_l;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
}

.e-grid-2-1 {
    display: grid;
    grid-gap: $unit_l;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
}

.e-grid-1-2 {
    display: grid;
    grid-gap: $unit_l;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
}