// e = extend this class; don't use in templates
.e-grid-3-1, .e-grid-2-1, .e-grid-1-2 {
    display: flex;
    grid-gap: $unit_l;
    flex-direction: column;
}

@include breakpoint_m {
    .e-grid-3-1, .e-grid-2-1, .e-grid-1-2 {
        display: grid;
        grid-gap: $unit_l;
        grid-auto-rows: auto;
    }
    
    .e-grid-3-1 {
        grid-template-columns: 3fr 1fr;
    }

    .e-grid-2-1 {
        grid-template-columns: 2fr 1fr;
    }

    .e-grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
}