$measurements: (
    "xxxs":      $unit_xxxs,
    "xxs":       $unit_xxs,
    "xs":        $unit_xs,
    "s":         $unit_s,
    "m":         $unit_m,
    "l":         $unit_l,
    "xl":        $unit_xl,
    "xxl":       $unit_xxl,
    "xxxl":      $unit_xxxl,
    "9001":      $unit_9001
);

$edges: 'top', 'right', 'bottom', 'left';

@for $i from 1 through length($measurements) {
    $item: nth($measurements, $i);
    $size: nth($item, 1);
    $val: nth($item, 2);
    $l: length($measurements);

    @each $edge in $edges {
        $class: str-slice($edge, 1, 1);
        @if $i > $l * 0.6 {
            .u-#{$class}m-#{$size} {
                margin-#{$edge}: calc(#{$val} / 2);
            }
            @include breakpoint_m {
                .u-#{$class}m-#{$size} {
                    margin-#{$edge}: calc(#{$val} * 0.7);
                }
            }
    
            @include breakpoint_l {
                .u-#{$class}m-#{$size} {
                    margin-#{$edge}: #{$val};
                }
            }
        } @else {
            .u-#{$class}m-#{$size} {
                margin-#{$edge}: #{$val};
            }
        }

        

    }
}

.u-flex-right {
    margin-left: auto;
}

.u-flex-left {
    margin-right: auto;
}

.u-pm-reset {
    margin: 0;
    padding: 0;
}

.u-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}