$darkest:       #0c0e11;
$darker:        #12131f;
$dark:          #1d1943;
$medium-2:      #55505c;
$medium-1:      #988da5;
$light:         #c3d6f3;
$lighter:       #dbdbfa;
$lightest:      #fff9ff;
$sunrise:       #ecbe3f;
$coral:         #eb3e7b;
$tangent:       #620c3b;
$darkest-shade:    rgba($darkest, 0.7);
$lightest-shade:   rgba($lightest, 0.7);

@mixin dark {
    --mode:dark;
    --c-bg:              #{$darkest};
    --c-shade-bg:        #{$darkest-shade};
    --c-bg2:             #{$dark};
    --c-accent-1:        #{$coral};
    --c-accent-2:        #{$tangent};
    --c-main:            #{$lighter};
    --c-main-alt:        #{$medium-1};
    --c-sl-bg:           #{$coral};
    --c-sl-on:           #{$sunrise};
    --c-sl-a:            #{$lightest};
    --c-heading:         #{$lightest};
    --c-header-bg:       var(--c-bg2);
    --c-logo:            var(--c-accent-1);
}

@mixin light {
    --mode:light;
    --c-bg:              #{$lightest};
    --c-shade-bg:        #{$lightest-shade};
    --c-bg2:             #{$light};
    --c-accent-1:        #{$coral};
    --c-accent-2:        #{$tangent};
    --c-main:            #{$darkest};
    --c-main-alt:        #{$medium-2};
    --c-sl-bg:           #{$tangent};
    --c-sl-on:           #{$darker};
    --c-sl-a:            #{$darkest};
    --c-heading:         #{$darker};
    --c-header-bg:       var(--c-bg2);
    --c-logo:            var(--c-accent-2);
}