$darkest:       #0d0e11;
$darker:        #171825;
$dark:          #231e3d;
$medium-1:      #766f81;
$medium-2:      #a49cb6;
$light:         #f9d5e9;
$lighter:       #d4e1f5;
$lightest:      #f8efff;
$sunrise:       #ecbe3f;
$coral:         #f5678a;
$cogent:        #58bde8;
$tangent:       #24d8ba;
$legume:        #401491;
$wave:          #00a98f;
$lambo:         #b11963;
$darkest-shade:    rgba($darkest, 0.7);
$lightest-shade:   rgba($lightest, 0.7);

@mixin dark {
    --mode:dark;
    --c-bg:              #{$darkest};
    --c-shade-bg:        #{$darkest-shade};
    --c-bg-2:            #{$darker};
    --c-bg-3:            #{$dark};
    --c-accent-1:        #{$coral};
    --c-accent-2:        #{$tangent};
    --c-accent-3:        #{$cogent};
    --c-accent-4:        #{$sunrise};
    --c-main:            #{$lightest};
    --c-main-alt:        #{$medium-2};
    --c-main-alt-2:      #{$medium-1};
    --c-sl-bg:           #{$dark};
    --c-sl-on:           #{$sunrise};
    --c-sl-a:            #{$coral};
    --c-heading:         #{$lighter};
    --c-art-heading:     #{$tangent};
    --c-header-bg:       #{$dark};
    --c-logo:            #{$coral};
}

@mixin light {
    --mode:light;
    --c-bg:              #{$lightest};
    --c-shade-bg:        #{$lightest-shade};
    --c-bg-2:            #{$lighter};;
    --c-bg-3:            #{$light};
    --c-accent-1:        #{$legume};
    --c-accent-2:        #{$wave};
    --c-accent-3:        #{$lambo};
    --c-accent-4:        #{$sunrise};
    --c-main:            #{$darkest};
    --c-main-alt:        #{$medium-1};
    --c-main-alt-2:      #{$medium-2};
    --c-sl-bg:           #{$tangent};
    --c-sl-on:           #{$dark};
    --c-sl-a:            #{$darkest};
    --c-heading:         #{$darker};
    --c-art-heading:     #{$legume};
    --c-header-bg:       #{$light};
    --c-logo:            #{$legume};
}