$darkest:       #0A0B0F;
$darker:        #0F1224;
$dark:          #201D41;
$medium-1:      #605A69;
$medium-2:      #767281;
$light:         #D0CFE8;
$lighter:       #EFF1F6;
$sunrise:       #F5AB76;
$coral:         #FA6C8E;
$cogent:        #6DC8EF;
$tangent:       #5AD4C0;
$lambo:         #5F06A5;
$nissan:        #0C1EC7;
$ford:          #BD0D57;
$supra:         #DE7513;
$darkest-shade:    rgba($darkest, 0.7);
$lightest-shade:   rgba($lighter, 0.7);

@mixin dark {
    --mode:dark;
    --c-bg:              #{$darkest};
    --c-shade-bg:        #{$darkest-shade};
    --c-bg-2:            #{$darker};
    --c-bg-3:            #{$dark};
    --c-accent-1:        #{$coral};
    --c-accent-2:        #{$tangent};
    --c-accent-3:        #{$cogent};
    --c-accent-4:        #{$sunrise};
    --c-main:            #{$lighter};
    --c-main-alt:        #{$light};
    --c-main-alt-2:      #{$medium-1};
    --c-sl-bg:           #{$dark};
    --c-sl-on:           #{$sunrise};
    --c-sl-a:            #{$coral};
    --c-heading:         #{$lighter};
    --c-art-heading:     #{$tangent};
    --c-header-bg:       #{$lambo};
    --c-logo:            #{$coral};
}

@mixin light {
    --mode:light;
    --c-bg:              #{$lighter};
    --c-shade-bg:        #{$lightest-shade};
    --c-bg-2:            #{$lighter};
    --c-bg-3:            #{$light};
    --c-accent-1:        #{$lambo};
    --c-accent-2:        #{$nissan};
    --c-accent-3:        #{$lambo};
    --c-accent-4:        #{$sunrise};
    --c-main:            #{$darker};
    --c-main-alt:        #{$medium-1};
    --c-main-alt-2:      #{$medium-2};
    --c-sl-bg:           #{$tangent};
    --c-sl-on:           #{$dark};
    --c-sl-a:            #{$darkest};
    --c-heading:         #{$darkest};
    --c-art-heading:     #{$lambo};
    --c-header-bg:       #{$tangent};
    --c-logo:            #{$lambo};
}

:export {
    main: var(--c-main-alt-2);
    accent: var(--c-accent-2);
}