@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

$display-font:      'Lora', serif;
$body-font:         'Source Serif Pro', serif;

@mixin font-body {
    font-family: $body-font;
    line-height: 1.6;
    font-weight: 400;
    font-size: $txt_s;
    color: var(--c-main);
}

@mixin font-heading {
    font-family: $display-font;
    line-height: 1.2;
    font-weight: 700;
    font-size: $txt_l;
    letter-spacing: -0.1rem;
    color: var(--c-heading);
    text-transform: initial;
}

@mixin font-display {
    font-family: $display-font;
    line-height: 1;
    font-size: $txt_l;
    font-weight: 900;
    color: var(--c-heading);
    letter-spacing: -0.1rem;

    @include breakpoint_l {
        font-size: $txt_xl;
    }

    a {
        font-weight: 900;
    }
}

$txt_xxs:       1.4rem;
$txt_xs:        1.8rem;
$txt_s:         2.2rem;
$txt_m:         2.8rem;
$txt_l:         4.4rem;
$txt_xl:        6.2rem;