
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Epunda+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


$display-font:      'Epunda Slab', serif;
$body-font:         'IBM Plex Sans', sans-serif;

@mixin font-body {
    font-family: $body-font;
    line-height: 1.4;
    font-weight: 400;
    font-size: $txt_s;
    color: var(--c-main);

    @include breakpoint_l {
        font-size: $txt_m;
    }
}

@mixin font-heading {
    font-family: $display-font;
    line-height: 1.2;
    font-weight: 600;
    font-size: $txt_l;
    color: var(--c-heading);
    text-transform: initial;
}

@mixin font-display {
    font-family: $display-font;
    line-height: 1.2;
    font-size: $txt_xl;
    font-weight: 700;
    color: var(--c-heading);

    a {
        font-weight: 500;
    }
}

$txt_xs:            1.4rem;
$txt_s:             1.9rem;
$txt_m:             2.4rem;
$txt_l:             3.4rem;
$txt_xl:            4.8rem;
$txt_xxl:           7.4rem;
