.layout {
    @include font-body;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;

    @include font-heading;
    & > a {
        color: var(--c-heading);
    }
}

h1 {
    @include font-display;
    margin-bottom: $unit_m;

    @include breakpoint_m {
        margin-bottom: $unit_l;
    }

    font-size: $txt_xl;
    @include breakpoint_m {
        font-size: $txt_xxl;
    }
}

h2 {
    font-size: $txt_l;
    margin-bottom: $unit_m;

    @include breakpoint_m {
        font-size: $txt_xl;
    }
}

h3 {
    font-size: $txt_m;
    margin-bottom: $unit_s;

    @include breakpoint_m {
        font-size: $txt_l;
    }
}

h4 {
    font-size: $txt_m;
    margin-bottom: $unit_s;
}

.page-desc {
    font-size: $txt_l;
}

.nuxt-content, .text-block {
    max-width: $max_txt;
    margin-bottom: $unit_m;

    &--indent {
        padding-left: $unit_l;
    }
}

.text-block {
    &-l {
        max-width: $max_txt_l;
    }

    &-xl {
        max-width: $max_txt_xl;

    }
}

p:not([class]):not(:last-child) {
    @extend .u-bm-m;
}

a {
    color: var(--c-accent-2);
    text-decoration: underline;
    text-decoration-skip: edges;
    text-decoration-skip-ink: all;

    &:hover, &:focus {
        color: var(--c-main-2);
    }
}

strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  margin: $unit_l 0;
  color: var(--c-main);
  font-size: 1.1em;
  line-height: 1.4;
  padding: $unit_xs $unit_l;

  &:first-child {
    margin-top: 0;
  }

  & > p {
      margin: 0;
  }
  
  &:before {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 2px;
    background: var(--c-accent-1);
    content: "";
    display: block;
  }
}

code {
  padding: $unit_xs;
  border: solid 1px var(--c-main);
}

.content {
    h1, h2 {
        margin-bottom: $unit_m;
    }
}

ul:not([class]), ol {
    padding-left: $unit_l;
    li {
        margin-bottom: $unit_s;

        & > p {
            margin: 0;
        }
    }
}

.article-content {
    h1, h2, h3 {
        margin-top: $unit_xl;
        color: var(--c-accent-4);
    }
}