.layout {
    @include font-body;
}

h2, h3, h4, h5, h6 {
    @include font-heading;
    & > a {
        color: var(--c-heading);
    }
}

h1 {
    @include font-display;
}

h2 {
    font-size: $txt_l;
}

h3 {
    font-size: $txt_m;
}

h4 {
    font-size: $txt_s;
    font-weight: 600;
}

.page-desc {
    font-size: $txt_m;
}

p:not([class]):not(:last-of-type) {
    @extend .u-bottom-spacer-l;
}

a {
    text-decoration: none;
    color: var(--c-accent-1);

    &:hover, &:focus {
        text-decoration: underline;
    }

    &:not([class]) {
        text-decoration: underline;
        text-decoration-skip: edges;
        text-decoration-skip-ink: all;
        font-weight: 600;
    }
}

strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  margin: $unit_m 0;
  font-weight: 500;
  color: var(--c-main);
  font-size: 1.4em;
  line-height: 1.4;
  padding: $unit_xs $unit_l;

  & > p {
      margin: 0;
  }
  
  &:before {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: $unit_xs;
    background: var(--c-accent-1);
    content: "";
    display: block;
  }
}

code {
  padding: $unit_xs;
  border: solid 1px var(--c-main);
}

.content {
    h1, h2 {
        margin-bottom: $unit_m;
    }
}