.layout {
    font-family: $body-font;
    font-size: $txt_xs;
    line-height: 1.6;
    color: var(--c-txt);
    font-weight: 300;

    @include breakpoint_m {
        font-size: $txt_s;
    }
}

h1 {
    font-family: $heading-font;
    line-height: 1;
    font-weight: 900;
    font-size: $txt_l;
    color: var(--c-h1);

    @include breakpoint_m {
        font-size: $txt_xl;
    }

    @include breakpoint_l {
        font-size: $txt_xxl;
    }
}

h2 {
    font-family: $heading-font;
    font-size: $txt_s;
    color: var(--c-h2);
    line-height: 1.2;

    @include breakpoint_m {
        font-size: $txt_m;
    }
}

h3 {
    font-size: $txt_s;
    font-weight: 700;
    color: var(--c-h0);
}

h4, h5, h6 {
    font-size: $txt_xs;
    font-weight: 700;
    color: var(--c-h0);
}

.subheading {
    font-family: $subheading-font;
    font-style: italic;
    font-weight: 400;
    font-weight: 500;
    color: var(--c-sh);
}

p:not([class]) {
    @extend .u-bottom-spacer-m;
}

a {
    color: var(--c-link);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s;
    display: inline-block;
    position: relative;

    &:not([class]), &.u-hover-anim {
        &:after {
            position: absolute;
            bottom: 0.1em;
            height: 2px;
            left: 0;
            content: "";
            display: block;
            background: var(--c-linkh);
            width: 100%;
            opacity: 0.7;
            transform: translateX(-50%) scaleX(0);
            transition: transform 0.2s;
        }
    }

    &.u-hover-anim {
        line-height: 1;

        &:after {
            bottom: -#{$unit_xxs};
        }
    }

    &:hover, &:focus, &.u-hover-anim.hovered {
        color: var(--c-linkh);

        &:after {
            transform: translateX(-0%) scaleX(1);
        }
    }
}
strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  margin: $unit_m 0;
  font-weight: 700;
  color: var(--c-h1);
  font-size: 1.4em;
  padding-left: $unit_m;
  
  &:before {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: $unit_xxs;
    background: var(--c-sh);
    content: "";
    display: block;
  }
}

code {
  padding: $unit_xs;
  border: solid 1px var(--c-h0);
}