h1 {
    font-family: $heading-font;
    line-height: 1;
    font-weight: 900;
    font-size: $txt_xxl;
    color: var(--c-h1);
}

h2 {
    font-family: $heading-font;
    font-size: $txt_m;
    color: var(--c-h2);
    line-height: 1.2;
}

h3 {
    font-size: $txt_s;
    font-weight: 400;
    color: var(--c-h0);
}

h4, h5, h6 {
    font-size: $txt_xs;
    font-weight: 500;
    color: var(--c-h0);
}

.subheading {
    font-family: $subheading-font;
    font-style: italic;
    font-weight: 400;
    font-weight: 500;
    color: var(--c-sh);
}

p:not([class]) {
    @extend .u-bottom-spacer-m;
}

a {
    color: var(--c-link);
    font-weight: 700;
    text-decoration: none;

    &:hover, &:focus {
        color: var(--c-linkh);
    }
}