.layout {
    font-family: $body-font;
    font-size: $txt_s;
    line-height: 1.7;
    font-weight: 400;
    color: var(--c-main);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    line-height: 1.2;
    font-weight: 700;
    font-size: $txt_m;
    color: var(--c-heading);

    & > a {
        color: var(--c-heading);
    }
}

h1 {
    font-size: $txt_xl;
}

h2 {
    font-size: $txt_l;
}

h3 {
    font-size: $txt_l;
    font-weight: 500;
}

.page-desc {
    font-family: $heading-font;
    font-size: $txt_m;
    line-height: 1.5;
}

p:not([class]):not(:last-of-type) {
    @extend .u-bottom-spacer-l;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: var(--c-accent-2);

    &:hover, &:focus {
        text-decoration: underline;
    }
}

strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  margin: $unit_m 0;
  font-weight: 500;
  color: var(--c-main);
  font-size: 1.4em;
  line-height: 1.4;
  padding: $unit_xs $unit_l;

  & > p {
      margin: 0;
  }
  
  &:before {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: $unit_xs;
    background: var(--c-accent-1);
    content: "";
    display: block;
  }
}

code {
  padding: $unit_xs;
  border: solid 1px var(--c-main);
}

.content {
    h1, h2 {
        margin-bottom: $unit_m;
    }
}