$measurements: (
    "xxxs":      $unit_xxxs,
    "xxs":       $unit_xxs,
    "xs":        $unit_xs,
    "s":         $unit_s,
    "m":         $unit_m,
    "l":         $unit_l,
    "xl":        $unit_xl,
    "xxl":       $unit_xxl,
    "xxxl":      $unit_xxxl,
    "9001":      $unit_9001
);

$edges: 'top', 'right', 'bottom', 'left';

@for $i from 1 through length($measurements) {
    $item: nth($measurements, $i);
    $size: nth($item, 1);
    $val: nth($item, 2);
    $l: length($measurements);

    @each $edge in $edges {
        @if $i > $l * 0.6 {
            .u-#{$edge}-spacer-#{$size} {
                margin-#{$edge}: calc(#{$val} / 2);
            }
            @include breakpoint_m {
                .u-#{$edge}-spacer-#{$size} {
                    margin-#{$edge}: calc(#{$val} * 0.7);
                }
            }
    
            @include breakpoint_l {
                .u-#{$edge}-spacer-#{$size} {
                    margin-#{$edge}: #{$val};
                }
            }
        } @else {
            .u-#{$edge}-spacer-#{$size} {
                margin-#{$edge}: #{$val};
            }
        }

        

    }
}

.u-flex-right {
    margin-left: auto;
}

.u-flex-left {
    margin-right: auto;
}