.grid {
    display: grid;
    max-width: 1040px;
    width: 100%;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
    grid-gap: $unit_m;
    padding: 0 $unit_m;

    @include breakpoint_l {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: $unit_l;
        padding: 0 $unit_l;

        &__full {
            grid-column: span 3;
        }
    
        &__third {
            grid-column: span 1;
        }
    
        &__two-thirds {
            grid-column: span 2;
        }
    }
}

.story-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: auto;
    margin: 0 auto;
    grid-gap: $unit_m;
}