.grid {
    display: grid;
    max-width: 1040px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    grid-gap: $unit_l;
    padding: 0 $unit_l;

    &__full {
        grid-column: span 3;
    }

    &__third {
        grid-column: span 1;
    }

    &__two-thirds {
        grid-column: span 2;
    }
}

.grid-offset {
    &--0 {
        grid-column-start: 1;
    }
    &--1 {
        grid-column-start: 2;
    }

    &--3 {
        grid-column-start: 3;
    }
}

.story-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(300px, 390px));
    grid-template-rows: auto;
    margin: 0 auto;
    grid-gap: $unit_m;
}