.layout {

    &--light {
      @include light;
    }

    &--dark {
      @include dark;
    }
}

// accents that can contrast against the main text colour on both themes
$flexi-accents: 'accent-3', 'accent-4';

// accents that are not inherently compatible between themes
$non-flexi-accents: 'accent-1', 'accent-2';

// all accents
$accents: join($non-flexi-accents, $flexi-accents);

// utility colour classes for general use
@each $accent in $accents {
    .u-c-#{$accent} {
        color: var(--c-#{$accent});
    }

    .u-bg-#{$accent} {
        background: var(--c-#{$accent});
    }
}

// accent shapes - create triangles for flexi-accents, corners for all accents
$shape_positions: 'right', 'left';

@each $pos in $shape_positions {
    @each $accent in $flexi-accents {
        .u-tri-#{$pos}-#{$accent} {
            position: relative;

            &:before  {
                position: absolute;
                #{$pos}: -#{$unit_xxl};
                top: -#{$unit_xxl};
                transform: translateY(0);
                content: "";
                display: block;
                border-style: solid;
                border-color: transparent;
                border-width: 15vh;
                border-top-color: var(--c-#{$accent});
                border-#{$pos}-color: var(--c-#{$accent});
                z-index: -1;

                @include breakpoint_xl {
                    border-color: var(--c-#{$accent});
                    border-width: calc(#{$unit_xxxl} * 2);
                    border-bottom-color: transparent;
                    border-#{$pos}-color: transparent;
                    #{$pos}: calc(100% + #{$unit_xxxl});
                    transform: translateY(-#{$unit_xxl});
                }
            }
        }
    }

    .u-tri-#{$pos}-full:before {
        #{$pos}: -#{$unit_l};
        top: 0;
        @include breakpoint_xl {
            #{$pos}: 80%;
            transform: translateY(-#{$unit_xl});
        }
    }
}

@each $pos in $shape_positions {
    @each $accent in $accents {
        .u-cnr-#{$pos}-#{$accent} {
            position: relative;
        
            &:after {
                position: absolute;
                right: -#{$unit_m};
                bottom: -#{$unit_l};
                height: $unit_xxxl;
                width: $unit_xxxl;
                content: "";
                display: block;
                z-index: -1;
                box-shadow: inset -#{$unit_xs} -#{$unit_xs} 0 var(--c-#{$accent});

                @include breakpoint_m {
                    right: auto;
                    #{$pos}: -#{$unit_m};

                    @if $pos != 'right' {
                        box-shadow: inset #{$unit_xs} -#{$unit_xs} 0 var(--c-#{$accent});
                    }
                }

                @include breakpoint_xl {
                    border-width: $unit_xs;
                    height: calc(#{$unit_xxl} * 2);
                    width: calc(#{$unit_xxl} * 2);
                    #{$pos}: -#{$unit_xl};
                    bottom: -#{$unit_xl};
                }
            }
        }
    }
}