:root {
    --c-bg:              #{$crest};
    --c-hbg:             #{$coral};
    --c-txt:             #{$carbon};
    --c-h1:              #{$carbon};
    --c-h2:              #{$carbon};
    --c-sh:              #{$slate_1};
    --c-h0:              #{$slate_2};
    --c-link:            #{$coral};
    --c-linkh:           #{$horizon};
}

@import './reset.scss';
@import './utils/spacers.scss';
@import './utils/grid.scss';
@import './atoms/type.scss';

body {
    display: flex;
    width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}