:root {
    --c-bg:              #{$crest};
    --c-hbg:             #{$coral};
    --c-txt:             #{$carbon};
    --c-h1:              #{$carbon};
    --c-h2:              #{$carbon};
    --c-sh:              #{$slate_1};
    --c-h0:              #{$slate_2};
    --c-link:            #{$coral};
    --c-linkh:           #{$horizon};
    font-size: 8px;

    @include breakpoint_m {
      font-size: 10px;
    }
}

@import './reset.scss';
@import './utils/grid.scss';
@import './utils/spacers.scss';
@import './utils/transitions.scss';
@import './atoms/type.scss';


body {
    display: flex;
    width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}